@import '../../scss/responsiveMixin.scss';
@import '../../scss/constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');
.header_wrapper {
  width: 100vw;
  position: fixed;
  z-index: 999;
  @include max-width(tablets) {
    position: sticky;
    background-color: $primary-blue-colour;
    overflow: hidden;
  }
}
.header_container {
  padding: 3rem;
  background-color: transparent;
  * {
    z-index: 999;
  }
  h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 3rem;
    font-weight: 600;
    text-transform: lowercase;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
    color: $primary-blue-colour;
    letter-spacing: 2px;
    font-stretch: ultra-condensed;
    transition: color 0.5s;
  }

  h1.x {
    @include max-width(tablets) {
      color: $primary-blue-colour;
    }
  }
  h1.green {
    color: $primary-green-colour;
  }
  h1.x.green {
    @include max-width(tablets) {
      color: $primary-blue-colour;
    }
  }
  @include max-width(tablets) {
    padding: 2rem;
  }
}

.header_contact_menu {
  top: 2rem;
  right: 2rem;
  width: 22rem;
  height: 30rem;
  background-color: $primary-white-colour;
  position: absolute;
  box-shadow: 0 10px 53px 0 rgb(163 204 170 / 30%);
  transition: scale 0.3s, box-shadow 0.3s, opacity 0.3s, visibility 0.3s;
  transform-origin: top right;

  @include max-width(tablets) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform-origin: top;
    background-color: $primary-white-colour;
    transition: opacity 0.5s, visibility 0.5s;
  }
  .popup_main_grid {
    padding: 100px 0;
    gap: 40px;
    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 50px;
      font-size: 1.3rem;
      color: $primary-purple-colour;
      text-align: left;
      @include max-width(tablets) {
        font-size: 2.6rem;
        text-align: center;
      }
    }
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  @include min-width(tablets) {
    scale: 0;
  }
}

.open {
  opacity: 1;
  visibility: visible;
  z-index: 998;
  pointer-events: auto;
  @include min-width(tablets) {
    scale: 1;
  }
}

.header_button {
  width: 3.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  position: relative;

  &::after,
  &::before {
    height: 0.2rem;
    background-color: $primary-blue-colour;
    position: absolute;
    right: 0;
    transition: background-color 0.3s;
    transform: rotate(0deg);
    @include max-width(tablets) {
      background-color: $primary-green-colour;
    }
  }

  &::before {
    content: '';
    width: 100%;
    top: 1rem;
  }

  &::after {
    content: '';
    width: 80%;
    top: 2rem;
  }
  @include max-width(tablets) {
    scale: 0.8;
  }
}

.Résumé,
.Work,
.Shelf {
  &::after,
  &::before {
    @include max-width(tablets) {
      background-color: $primary-blue-colour;
    }
  }
}

.green::after,
.green::before {
  background-color: $primary-green-colour;
}

.header_button.x {
  &::before {
    transition: 0.2s ease;
    transform: rotate(45deg) translate(0.5rem, 0.7rem);
    @include max-width(tablets) {
      background-color: $primary-blue-colour;
    }
  }
  &::after {
    width: 100%;
    transition: 0.2s ease;
    transform: rotate(-45deg) translate(-0.2rem, -0.1rem);
    @include max-width(tablets) {
      background-color: $primary-blue-colour;
    }
  }
}

.header_button.x.green {
  &::before,
  &::after {
    background-color: $primary-blue-colour;
  }
}
