$primary-blue-colour: #4831d4;
$primary-green-colour: #ccf381;
$primary-purple-colour: #3d155f;
$primary-white-colour: #ffff;
$primary-shadow-colour: rgb(163 204 170 / 30%);
$primary-grey-colour: #474747;

$primary-background-colour: #f5f4fc;
$light-grey-font-color: #737274;
$hr_colour: #cbc9dd;
